/**
 * ------------------------------------------------------------------
 * GENERAL
 * ------------------------------------------------------------------
 */
:root {
    box-sizing: border-box;
    --rad-sm: 3px;
    --rad-md: 5px;
    --rad-lg: 7px;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto";
    src:
        url(../fonts/Roboto/Roboto-Thin.ttf) format("truetype"),
        url(../fonts/Roboto/Roboto-Light.ttf) format("truetype"),
        url(../fonts/Roboto/Roboto-Regular.ttf) format("truetype"),
        url(../fonts/Roboto/Roboto-Bold.ttf) format("truetype");
}

body, html {
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
    /* color: #afafaf; */
    color: #FFF;
    background-color: #141414;
}

a {
    text-decoration: none;
    color: #fafafa;
}

p {
    padding: 5px 0;
}

.container {
    height: 100%;
    /* display: flex;
    flex-direction: row; */
}
/**
* Titles
*/
.title {
    text-transform: uppercase;
    letter-spacing: .5px;
    padding: 5px 0;
    margin-top: 15px;
}

.title.title-sm { font-size: .8rem; }
.title.title-md { font-size: 1rem; }
.title.title-lg { font-size: 1.2rem; }
.title.title-xl { font-size: 1.4rem; }

/**
* Buttons
*/
.btn,
input[type="submit"].btn {
    padding: 10px;
    display: inline-block;
    color: #fafafa;
    font-weight: 500;
    font-size: 1rem;
    border: 0;
    border-radius: var(--rad-sm);
    cursor: pointer;
    transition: .3s;
}

.btn.btn-block {
    display: block;
}

.btn { background-color: #47cf73; }
.btn-primary { background-color: #47cf73; }
.btn-secondary { background-color: #6c757d; }
.btn-danger { background-color: #dc3545; }
.btn-warning { background-color: #FD7A46; }

.btn:hover { background-color: #2fb45a; }
.btn-primary:hover { background-color: #2fb45a; }
.btn-secondary:hover { background-color: #5a6268; }
.btn-danger:hover { background-color: #c82333; }
.btn-warning:hover { background-color: rgb(252, 104, 46); }

/**
* Inputs
*/

.input, select {
    display: block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: var(--rad-sm);
    width: 100%;
}

label { display: block; }

.input-sm { padding: 5px 10px; }
.input-md { padding: 6px 12px; }
.input-lg { padding: 10px 16px; }

/**
* Checkboxs
*/

.checkbox {
    margin: 6px 0;
    cursor: pointer;
}
.checkbox input {
    display: none;
}

.checkbox .checkbox__round {
    display: inline-block;
    height: 15px; width: 15px;
    vertical-align: middle;
    border: 1px solid grey;
    border-radius: 15px;
    position: relative;
}

.checkbox input:checked + .checkbox__round {
    border: 1px solid #47cf73;
}

.checkbox input:checked + .checkbox__round::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    height: 7px; width: 7px;
    background-color: #47cf73;
    border-radius: 15px;
}

/**
* Margin/ Padding
*/
.mt-1 { margin-top: 1rem; }
.mt-2 { margin-top: 1.2rem; }
.mt-3 { margin-top: 1.4rem; }
.mt-4 { margin-top: 1.6rem; }
.mt-5 { margin-top: 1.8rem; }

.mb-1 { margin-bottom: 1rem; }
.mb-2 { margin-bottom: 1.2rem; }
.mb-3 { margin-bottom: 1.4rem; }
.mb-4 { margin-bottom: 1.6rem; }
.mb-5 { margin-bottom: 1.8rem; }

.mr-1 { margin-right: 1rem; }
.mr-2 { margin-right: 1.2rem; }
.mr-3 { margin-right: 1.4rem; }
.mr-4 { margin-right: 1.6rem; }
.mr-5 { margin-right: 1.8rem; }

.ml-1 { margin-left: 1rem; }
.ml-2 { margin-left: 1.2rem; }
.ml-3 { margin-left: 1.4rem; }
.ml-4 { margin-left: 1.6rem; }
.ml-5 { margin-left: 1.8rem; }

/**
* Textes
*/
.text-orange { color: #FD7A46; }
.text-purple { color: #814E92; }
.text-red { color: #902d2f; }

/**
 * ------------------------------------------------------------------
 * LEFT SIDE
 * ------------------------------------------------------------------
 */
.sidebar {
    /* flex: 0 0 auto; */
    position: fixed;
    overflow-y: scroll;
    z-index: 999;
    height: 100%;
    width: 250px;
    padding: 15px 15px;
    border-right: 1px solid #212529;
    background-color: #1a1a1a;
    box-shadow: 5px -1px 1px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px -1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px -1px 1px 0px rgba(0,0,0,0.75);
}

/* Hide scrollbar */
.sidebar::-webkit-scrollbar { display: none; } /* Chrome */
.sidebar { -ms-overflow-style: none; } /* IE, EDGE */ 
.sidebar { overflow: -moz-scrollbars-none; scrollbar-width: none; } /* Mozilla */

/**
* Title
*/
.sidebar__title {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 5px;
    padding: 15px 0;
    font-family: 'Leckerli One', cursive;
    transition: .3s;
    background-color: #47cf73;
    border-radius: var(--rad-md);
}

.sidebar__title:hover {
    opacity: .8;
}

/**
* Introduction
*/
.sidebar__intro {
    margin-top: 8px;
    text-align: center;
    word-spacing: -1px;
    font-style: italic;
}

/**
* Collaps
*/
.collaps {
    display: block;
    text-transform: capitalize;
    font-size: 1rem;
    letter-spacing: .5px;
    padding: 5px 0;
}

.collaps__content {
    display: none;
}

.collaps.show ~ .collaps__content:first-of-type {
    display: block;
}

.collaps__content .exercice {
    display: block;
    background-color: #141414;
    padding: 10px 5px;
    margin-top: 4px;
    transition: transform .3s;
    position: relative;
}

.collaps__content .exercice:hover {
    transform: translate3d(10px, 0, 0);
}

/**
* Collaps exercices
*/
.collaps__content .exercice svg {
    position: absolute;
    right: 15px;
}

@keyframes rotating { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }

.collaps__content .exercice svg.fa-hourglass-start {
    animation: rotating 6s linear infinite;
}

/**
 * ------------------------------------------------------------------
 * TOP BAR
 * ------------------------------------------------------------------
 */
 .topbar {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    background-color: #1a1a1a;
    padding: 15px 15px;
    margin-bottom: 15px;
}

.topbar__right {
    display: flex;
}

.topbar__right .username {
    color: #fff;
    display: inline-block;
    font-size: 1rem;
    padding: 15px 15px 0 0;
}

.topbar__right .username strong {
    text-transform: uppercase;
}

/**
 * ------------------------------------------------------------------
 * MAIN
 * ------------------------------------------------------------------
 */
.main {
    position: relative;
    padding: 50px;
    left: 250px;
    width: calc(100% - 250px);
}

/**
* Breadcrumb
*/
.breadcrumb {
    margin-bottom: 35px;
    background-color: #1a1a1a;
}

.breadcrumb__item {
    display: inline-block;
    line-height: 50px;
    padding: 0 15px;
}

.breadcrumb__item.start {
    background-color: #141414;
    border: 1px solid #1a1a1a;
}

.breadcrumb__item.start:hover {
    opacity: .8;
}

.breadcrumb__item.separator {
    padding: 0 0;
}

.breadcrumb__item.current {
    color: #fafafa;
}
/**
* Main content
*/
.main__content {
    background-color: #1a1a1a;
    padding: 15px;
}

.content__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/**
* Title
*/
.main__title {
    font-size: 1.6rem;
    color: #fafafa;
}

.main__title i {
    font-style: italic;
    font-size: 1rem;
    opacity: .7;
}

/**
 * ------------------------------------------------------------------
 * Home
 * ------------------------------------------------------------------
 */

.list-container {
    margin-top: 15px;
}

.list__line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px 45px;
    border-radius: 5px;
    background-color: #141414;
    margin-bottom: 4px;
    transition: background-color .2s;
}

.list__line:hover {
    background-color: rgba(20, 20, 20, 0.5);
}

/* .list__line * {
    border: 1px solid red;
} */

.list__line svg {
    font-size: 1.5rem;
    display: block;
    flex: 0 1 50px;
}

.list__line .line__title {
    width: 10%;
    text-align: center;
}

.line__description {
    width: 50%;
    flex: 0 1 auto;
}


/**
 * ------------------------------------------------------------------
 * Exercice
 * ------------------------------------------------------------------
 */

/**
* Links: prev, next
*/
.exercice_links.top { margin-bottom: 20px; }
.exercice_links.bottom { margin-top: 20px; }

.exercice_links a {
    margin-right: 5px;
    font-size: .95rem;
    opacity: .6;
 }
.exercice_links a span {
    text-decoration: underline;
}

/**
* Consigne
*/
.exercice__consigne .consigne__text {
    white-space: pre-wrap;
    line-height: 20px;
}

/**
* Codeblocks
*/
.codeblock {
    display: inline-block;
    width: 100%;
}
.codeblock::before,
.codeblock::after {
    content: ' ';
    display: block;
}

/**
* Code displayer
*/
.code-displayer > .codeblock > pre {
    display: none;
}

.code-displayer > .codeblock > pre.show {
    display: block;
}

/**
* Response displayer
*/
.response-displayer > .codeblock > pre {
    display: none;
}

.response-displayer > .codeblock > pre.show {
    display: block;
}

.custom-field {
    position: relative;
    left: 20px;
}

.custom-field.placeholder {
    border-bottom: 4px solid #902d2f;
}

.delete-cross {
    position: relative;
    top: -25px;
    color: #902d2f;
    cursor: pointer;
}
